# macOS system files
.DS_Store

# Node modules (if you use Node-based tools)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# Shopify CLI local files
.shopify

# Cache and build folders
.cache
dist
