echo "config/settings_data.json" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "node_modules/" >> .gitignore
echo "package-lock.json" >> .gitignore
echo "yarn.lock" >> .gitignore
echo "yarn-debug.log*" >> .gitignore
echo "yarn-debug.log" >> .gitignore
echo "yarn-debug.log" >> .gitignore
echo "yarn-debug.log" >> .gitignore